**Groupby and aggregation**

In [1]:
import pandas as pd

In [2]:
data = {
  'Category':['A','B','A','B','B','A','A','B'],
  'Store':['S1','S1','S2','S2','S1','S2','S2','S1'],
  'Sales':[200,100,150,250,120,52,51,70],
  'Quantity':[10,15,20,14,18,19,51,78],
  'Date':pd.date_range('2025-06-26', periods=8)
}

df = pd.DataFrame(data)

In [3]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    200        10 2025-06-26
1        B    S1    100        15 2025-06-27
2        A    S2    150        20 2025-06-28
3        B    S2    250        14 2025-06-29
4        B    S1    120        18 2025-06-30
5        A    S2     52        19 2025-07-01
6        A    S2     51        51 2025-07-02
7        B    S1     70        78 2025-07-03

In [6]:
#Groupby category and calculate the sum of sales
cat = df.groupby('Category')   #it creates an object.
cat
for i,v in cat:
  print(v)
  print(i)

  Category Store  Sales  Quantity       Date
0        A    S1    200        10 2025-06-26
2        A    S2    150        20 2025-06-28
5        A    S2     52        19 2025-07-01
6        A    S2     51        51 2025-07-02
A
  Category Store  Sales  Quantity       Date
1        B    S1    100        15 2025-06-27
3        B    S2    250        14 2025-06-29
4        B    S1    120        18 2025-06-30
7        B    S1     70        78 2025-07-03
B

In [7]:
cat = df.groupby('Category')['Sales'].sum()
cat

Category
A    453
B    540
Name: Sales, dtype: int64

In [8]:
store = df.groupby('Store')['Sales'].sum()
store

Store
S1    490
S2    503
Name: Sales, dtype: int64

In [9]:
cat = df.groupby(['Category', 'Store'])['Sales'].sum()
cat

Category  Store
A         S1       200
          S2       253
B         S1       290
          S2       250
Name: Sales, dtype: int64

**Aggregation**

In [15]:
"""Mean, median, mode, min, max, std, count """
df['Sales'].mean()

np.float64(124.125)

In [18]:
df['Sales'].agg(['mean','min','max','min','std','sum'])

mean    124.125000
min      51.000000
max     250.000000
min      51.000000
std      72.060367
sum     993.000000
Name: Sales, dtype: float64